.wrapper {
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.background {
  padding: 5% 0;
  background: #4D4D4D;
}

.tweetContainer {
  position: relative;
  text-align: center;
  z-index: 1;

}

.tweetInput {
  width: 80%
}

.resultsOverlay {
  display: inline-block;
  text-align: left;
  margin-top: -6%;
  z-index: 2;
  background: white;
  border: solid;
  border-top: dashed;
  border-color: gray;
  border-width: thin;
  width: 80%;
  margin-left:10%;
  box-shadow: 0 10px 20px #ccc;
}